@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap');

@import "_media-queries.css";

:root {
    --text: 'Space Mono', monospace;
    --headers: 'Azeret Mono', monospace;
    --orange: #EF7B45;
    --orange-t: rgba(239, 123, 69, 0.7);
    --darkgreen: #042A2B;
    --darkgreen-t: rgba(4, 42, 43, 0.7);
    --lightblue: #0A6D70;
    --white: #FFF;
}

h1,
h2 {
    color: var(--darkgreen);
    font-family: var(--headers);
    font-weight: 900;
    text-shadow: 
        6px 6px        var(--lightblue), 
        5.75px 5.75px  var(--lightblue), 
        5.5px 5.5px    var(--lightblue), 
        5.25px 5.25px  var(--lightblue),
        5px 5px        var(--lightblue), 
        4.75px 4.75px  var(--lightblue), 
        4.5px 4.5px    var(--lightblue), 
        4.25px 4.25px  var(--lightblue),
        4px 4px        var(--lightblue),
        3.75px 3.75px  var(--lightblue),
        3.5px 3.5px    var(--lightblue),
        3.25px 3.25px  var(--lightblue),
        3px 3px        var(--lightblue),
        2.75px 2.75px  var(--lightblue),
        2.5px 2.5px    var(--lightblue),
        2.25px 2.25px  var(--lightblue),
        2px 2px        var(--lightblue),
        1.75px 1.75px  var(--lightblue),
        1.5px 1.5px    var(--lightblue),
        1.25px 1.25px  var(--lightblue),
        1px 1px        var(--lightblue),
        0.75px 0.75px  var(--lightblue),
        0.5px 0.5px    var(--lightblue),
        0.25px 0.25px  var(--lightblue);
    font-size: 3em;
}

li,
a,
p {
    font-family: var(--text);
}

button {
    font-family: var(--headers);
}


/*-----Navbar/header-----*/

.navbar {
    background-color: var(--darkgreen);
}

.nav-link {
    color: var(--orange);
    text-shadow: 1px 3px 0px var(--lightblue);
}

.nav-link:hover {
    color: var(--orange);
}

.nav-item:focus {
    color: var(--lightblue);
}

.download-wrapper {
    filter: drop-shadow(5px 4px 0px var(--lightblue));
}

.download-cv {
    background-color: var(--orange);
    color: var(--darkgreen);
    clip-path: polygon(
        0% 15%, 
        0% 15%, 
        0% 0%,
        97% 0%, 
        97% 15%, 
        100% 15%, 
        100% 100%, 
        100% 100%, 
        100% 100%, 
        3% 100%, 
        3% 85%, 
        0% 85%
    );
}

.download-cv:hover {
    color: var(--darkgreen);
}

.navbar-toggler {
    padding: 0.2em 0.75em 0.75em;
    padding-left: 0px;
}

.nav-scrolled {
    /* Box shadow */
    /* Clip path */
    /* Color */
    transition: all 0.3s ease-in-out;
}

.header-image {
    height: 100vh;
    background: url(/assets/media/code-3.jpg) no-repeat center;
    background-size: cover;
}

.header-overlay {
    height: 100%;
    width: 100%;
    background-color: var(--darkgreen-t);
    /*
    background: -webkit-linear-gradient(360deg, var(--darkgreen), var(--orange-t) 95%) !important; */
}

.header-text-container {
    filter: drop-shadow(7px 8px 0px var(--lightblue));
}

.header-text {
    background-color: var(--orange);
    clip-path: polygon(
        0% 15%, 
        0% 15%, 
        0% 0%,
        95% 0%, 
        95% 15%, 
        100% 15%, 
        100% 100%, 
        100% 100%, 
        100% 100%, 
        5% 100%, 
        5% 85%, 
        0% 85%
    );
}

.header-text p {
    background: -webkit-linear-gradient(45deg, var(--darkgreen), var(--lightblue) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}




