@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@import "_media-queries.css";

:root {
    --text: 'Space Mono', monospace;
    --headers: 'Orbitron', sans-serif;;
    --pink: #E866A5;
    --purple: #300350;
    --lightblue: #36CE9F;
    --white: #FFF;
}

h1,
h2 {
    font-family: var(--headers);
    font-weight: 900;
}

li,
a,
p {
    font-family: var(--text);
}

button {
    font-family: var(--headers);
}


/*-----Navbar/header-----*/

.navbar {
    background: -webkit-linear-gradient(360deg, var(--pink), transparent 50%);
}

.nav-link {
    color: var(--purple);
}

.nav-link:hover {
    color: var(--purple);
    text-shadow: 1px 2px 0px var(--lightblue);
}

.nav-item:focus {
    color: var(--lightblue);
}

.download-wrapper {
    filter: drop-shadow(5px 4px 0px var(--lightblue));
}

.download-cv {
    background-color: var(--pink);
    color: var(--purple);
    clip-path: polygon(
        0% 15%, 
        0% 15%, 
        0% 0%,
        97% 0%, 
        97% 15%, 
        100% 15%, 
        100% 100%, 
        100% 100%, 
        100% 100%, 
        3% 100%, 
        3% 85%, 
        0% 85%
    );
}

.download-cv:hover {
    color: var(--purple);
}

.navbar-toggler {
    padding: 0.2em 0.75em 0.75em;
    padding-left: 0px;
}

.header-image {
    height: 100vh;
    background: url(/assets/media/vapourwave.jpg) no-repeat center;
    background-size: cover;
}

.header-overlay {
    height: 100%;
    width: 100%;
    background-color: var(--purple-t);
}

.header-text-container {
    filter: drop-shadow(7px 8px 0px var(--lightblue));
}

.header-text {
    background-color: var(--pink);
    clip-path: polygon(
        0% 15%, 
        0% 15%, 
        0% 0%,
        95% 0%, 
        95% 15%, 
        100% 15%, 
        100% 100%, 
        100% 100%, 
        100% 100%, 
        5% 100%, 
        5% 85%, 
        0% 85%
    );
}

.header-text h1 {
    text-shadow: 
        6px 6px        var(--lightblue), 
        5.75px 5.75px  var(--lightblue), 
        5.5px 5.5px    var(--lightblue), 
        5.25px 5.25px  var(--lightblue),
        5px 5px        var(--lightblue), 
        4.75px 4.75px  var(--lightblue), 
        4.5px 4.5px    var(--lightblue), 
        4.25px 4.25px  var(--lightblue),
        4px 4px        var(--lightblue),
        3.75px 3.75px  var(--lightblue),
        3.5px 3.5px    var(--lightblue),
        3.25px 3.25px  var(--lightblue),
        3px 3px        var(--lightblue),
        2.75px 2.75px  var(--lightblue),
        2.5px 2.5px    var(--lightblue),
        2.25px 2.25px  var(--lightblue),
        2px 2px        var(--lightblue),
        1.75px 1.75px  var(--lightblue),
        1.5px 1.5px    var(--lightblue),
        1.25px 1.25px  var(--lightblue),
        1px 1px        var(--lightblue),
        0.75px 0.75px  var(--lightblue),
        0.5px 0.5px    var(--lightblue),
        0.25px 0.25px  var(--lightblue);
    font-size: 3em;
    color: var(--purple);
}

.header-text p {
    color: var(--purple);
    font-weight: 700;
}

.terminal-icon {
    animation: blink 1s infinite linear;
}

/*-----Skills section-----*/

.skills-section {
    background-color: var(--lightblue);
}

.skills-section h1 {
    text-shadow: 
        6px 6px        var(--pink), 
        5.75px 5.75px  var(--pink), 
        5.5px 5.5px    var(--pink), 
        5.25px 5.25px  var(--pink),
        5px 5px        var(--pink), 
        4.75px 4.75px  var(--pink), 
        4.5px 4.5px    var(--pink), 
        4.25px 4.25px  var(--pink),
        4px 4px        var(--pink),
        3.75px 3.75px  var(--pink),
        3.5px 3.5px    var(--pink),
        3.25px 3.25px  var(--pink),
        3px 3px        var(--pink),
        2.75px 2.75px  var(--pink),
        2.5px 2.5px    var(--pink),
        2.25px 2.25px  var(--pink),
        2px 2px        var(--pink),
        1.75px 1.75px  var(--pink),
        1.5px 1.5px    var(--pink),
        1.25px 1.25px  var(--pink),
        1px 1px        var(--pink),
        0.75px 0.75px  var(--pink),
        0.5px 0.5px    var(--pink),
        0.25px 0.25px  var(--pink);
    font-size: 3em;
}

.skills-section p {
    color: var(--purple);
    font-size: 1rem;
}

.skills-wrapper {
    filter: drop-shadow(7px 8px 0px var(--pink));
}

.skills-box {
    background-color: var(--purple) !important;
    clip-path: polygon(
        0% 15%, 
        0% 15%, 
        0% 0%,
        95% 0%, 
        95% 15%, 
        100% 15%, 
        100% 100%, 
        100% 100%, 
        100% 100%, 
        5% 100%, 
        5% 85%, 
        0% 85%
    );
    color: var(--white);
    width: 23%;
}


/*-----Projects section-----*/

/*-----Work history section-----*/

/*-----Contact section-----*/

/*-----Media queries-----*/

@keyframes blink {
    
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }

}




